
@{
	ViewBag.Title = "About";
}

<h2>About</h2>
<hr />


<div style="text-align:center;">
	<img src="~/Content/Images/Logo/logo_gcsms.png"/> <br />
	<p>
		<br />Gestion des bons d'interventions.<br /><br />
		Version : 1.1 <br />
		Copyright © @DateTime.Now.Year - Bon d'intervention <br />
		Développeur : Raphaël CHAPOTIN
	</p>
</div>